<div class="footer">
    <div class="section group">
        <div class="footer-section">
            <div class="wrapper">
                <div class="col_1_of_3 span_1_of_3">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="about">About Us</a></li>
                        <li><a href="help">Help</a></li>
                    </ul>
                </div>
                <div class="col_1_of_3 span_1_of_3">
                    <h3>My account</h3>
                    <ul>
                        <li><a href="my_items">My Items</a></li>
                        <li><a href="logout">Sign Out</a></li>
                    </ul>
                </div>
                <div class="col_1_of_3 span_1_of_3">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="tel:+96170000000">+961 70 000 000</a></li>
                        <li><a href="tel:+96171000000">+961 71 000 000</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_right">
        <p class="copyright">eStore &copy; All Rights Reserved</p>
    </div>
</div>
